@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --dark:#03191E;
    --light: #F7F7FF;
    --red: #E6113B;
    --gray: #7D8491;
}
*, *::before, *::after{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: var(--light);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    position: relative;
}

html{
    background-color: var(--dark);
    width: 100vw;
    overflow-x: hidden;
}

.container{
    min-height: 100vh;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
}
.contents{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 60% 1fr;
    gap: 5%;
}

h1{
    font-size: calc(2rem + 3vw);
    color: var(--red);
    font-weight: 600;
    text-align: right;
    text-shadow: 5px 2px 0 var(--gray);
}
h2{
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
}
h3{
    font-size: 1.3rem;
    font-weight: 400;
}
h4{
    color: var(--red);
    font-weight: 400;
}
span{
    font-weight: 400;
}
button{
    background-color: var(--light);
    border: none;
    color: var(--dark);
    font-weight: bolder;
    height: 30px;
    min-width: 7em;
    padding: .5em 1.5em;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*navigation===============================*/
nav{
    height: 70px;
    width: 100%;
    z-index: 1;
    padding: 0 10%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 40px 1px black;
    backdrop-filter: blur(5px);
}

.logo{
    justify-self: flex-start;
    height: 40px;
}
nav ul{
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
}
ul img{
    max-height: 25px;
}

/*home======================================*/
#home .contents{
    padding-top: 10vh;
}
.intro{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    align-content: end;
}
.intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + 4vw);
    color: var(--light);
    font-weight: 600;
    text-shadow: 5px 2px 0 var(--red);
}
.intro p{
    font-size: calc(.5rem + 1vw);
    color: var(--red);
    font-weight: 400;

}
.picture{
    max-height: 500px;
    width: 80%;
    object-fit: cover;
    grid-row: span 2;
    border-radius: 200px 100px 90px 150px;
    align-self: center;
}

.icon-container{
    display: flex;
    justify-content: end;
    gap: 5%;
}
.icon{
    height: 30px;
}

/*about me======================*/
#about .contents{
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 10% 1fr 10%;
    font-weight: 400;
    gap: 2%;

}
#about h1{
    grid-column: span 2;
    text-align: left;
    top: 20px;
    line-height: .8em;
    
}

.text{
    top:35px;
    text-align: right;
    order:-1;    
    grid-column: span 4;
    padding-bottom: 20px;
}

#about h2:first-of-type{
    grid-column: span 3;
    text-align: right;
    padding-right: 5%;
    border-right: 1px solid var(--red);
}
#about h2:nth-of-type(2){
    grid-column: span 3;
}
.language-logo{
    grid-column: span 3;
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    align-content: rigth;
    padding-right: 5%;
    border-right: 1px solid var(--red);
}
.language-logo svg{
    height: 150px;
    width: 25%;
    object-fit: cover;
}
.education{
    grid-column: span 3;
    text-align: left;
    margin-bottom: 1em;
}
.education li{
    margin-top: 10px;
}
.buttons{
    grid-column: span 6;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 3%;
}

/*projects==================================*/
#projects .contents{
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.contents h1{
    text-align: left;
}
.item{
    display: flex;
    flex-direction: row;
    gap:5%;

}
.right{
    flex-direction: row-reverse;
}
#projects img{
    height: 400px;
    width: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 0 0 var(--red);
}

/*contact============================================*/
#contact.container{
    min-height: unset;
}
#contact .contents{
    display:grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 1fr 30%;
    margin: 2em auto;
}
#contact h1, #contact p{
    text-align: left;
    margin: 0;
}
.message{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    padding-top: 1em;
    order: -1;
    grid-row: span 2;
}
#contact input{
    text-align: right;
    vertical-align: top;
    background-color: var(--light);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 40px 1px black;
    border: none;
    padding: .5em;

}
input[type=email]{
    width: 300px;
    
    color: var(--light);
}
input[type=textarea]{
    height: 200px;
    width: 80%;
}

/*footer===================================*/
footer{
    min-height: 20vh;
    background-color: var(--light);
    text-align: center;
    backdrop-filter: blur(5px);
    
}
footer img{
    height: 35px;
}
footer h3{
    color: var(--dark);
}

/*actions====================================*/
nav li:hover{
    color: var(--red);
}
button:hover{
    box-shadow: 0 1px 40px 1px black;
    background-color: var(--red);
    color: var(--light);
    transition: all 0.5s;
}
svg.icon:hover{
    filter: drop-shadow(1px 1px 2px var(--red));
}





/*smaller screen======================================*/
@media (max-width:700px){
    *{
        padding: 0;
        text-align: center;
    }
    .container{
        margin: 0 auto;
        padding-top: 10vh;
    }
    
    .contents{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 2em;
        height: unset;
        min-height: unset;
    }
    h1{
        font-size: 3rem;
        text-align: center;
        margin-bottom: .9em;
    }
    /*home-mobile===================*/
    #home .contents{
        padding-top: 5vh;
        min-height: 100%;
    }
    .intro h1{
    font-size: calc(1rem + 5.5vw);
    margin-bottom: 0;
    }
    .intro{
        align-items: center;
    }
    
    .intro p{
        font-size: 4vw;
    }
    .picture{
        order: -1;
        min-width: 300px;
        max-width: 400px;
        width: 50%;
        max-height: 40vh;
        object-fit: cover;
        object-position: 10% 10%;
    }
    .icon-container{
        justify-items: center;
        justify-content: center;
    }

    /*about me-mobile==================*/
    
    #about .contents{
       padding-bottom: 1em;
       height: unset;
    }
    #about h1{
        top: 0;
        text-align: center;
    }
    #about .text{
        order: 0;
        top: 0;
       text-align: justify;
    }
    #about h2:first-of-type, .language-logo{
        border: none;
        padding: 0;
    }
    #about h2:nth-of-type(2), .education, .buttons{
        order: 1;
    }
    #about h2:first-of-type, #about h2:nth-of-type(2){
        text-shadow: 3px 3px 2px var(--gray);
        text-align: center;
        margin-top: 1em;
        margin-bottom: .5em;
    }

    .language-logo{
        justify-content: center;
    }

    .language-logo svg{
        height: 110px;
    }
    .buttons{
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }

    /*projects-mobile==============================================*/
    .item{
        flex-direction: column;
        margin-top: 0;
        justify-content: space-between;
    }
    #projects h1{
        margin-bottom: 0;
    }
    #projects img{
        height: 300px;
        width: 90%;
        margin: 0 auto;
    }
    #projects h2{
        text-shadow: 3px 3px 2px var(--gray);
    }
}
