@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap');

html{
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Space Grotesk", 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    
}

body{
    margin: 0 10% 0 10%;
    overflow-x: hidden;
    min-height: max-content;
}


nav{
    position: fixed;
    height: 10vh;
    width: 80%;
    min-height: 70px;
}

nav .nav-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logo img{
    height: 90%;
}

.nav-content ul{
    position: relative;
    display: flex;
    justify-content: right;
    list-style-type: none;
    gap: 1rem;
    
}
#landing{
    height: 100vh;
    min-height: max-content;
    background-color: aquamarine;
    
}
.greet{
    max-width: max-content;
    padding-top: 20%;
    text-align: center;
    margin: 0 auto;
    font-family: "Space Grotesk", 'Courier New', Courier, monospace;
    
}

.greet h5{
    text-align: start;
    font-size: 2rem;
    font-weight:100;
    letter-spacing: 1px;
}
.greet h1{
    font-size: 4rem;
    margin-top: -15%;
    font-weight:300;
    height: max-content;
}
.greet p{
    margin-top: -17%;
    text-align: end;
    letter-spacing: 1px;
}
h1 span{
    color: red;
    font-weight:600;
}

.buttons{
    margin: 10vh auto;
    text-align: center;
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.buttons button{
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 100;
    border: none;
    width: 150px;
    padding: .7rem 1.5rem;
    background-color: white;
    
    
    
    
}

@media only screen and (max-width: 700px){ 
    body{
        background-color: pink;
        margin: 0 5%;
    }
    nav{
        width: 90%;
    }

    #landing{
        background-color: unset; 
    }
    .greet h5, .greet p{
        text-align: center;
    }
    .buttons{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}