@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --dark:#03191E;
    --light: #F7F7FF;
    --red: #E6113B;
    --gray: #7D8491;
}
*, *::before, *::after{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: var(--light);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    position: relative;
}

html{
    background-color: var(--dark);
    width: 100vw;
    overflow-x: hidden;
}

.container{
    min-height: 100vh;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
}

h1{
    font-size: 4rem;
    color: var(--red);
    font-weight: 600;
    text-align: right;
    text-shadow: 5px 2px 0 var(--gray);
}
h2{
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
}
h3{
    font-size: 1.3rem;
    font-weight: 400;
}
h4{
    color: var(--red);
    font-weight: 400;
}
span{
    font-weight: 400;
}
button{
    background-color: var(--dark);
    border: 1px solid var(--red);
    color: var(--light);
    height: 30px;
    min-width: 7em;
    padding: .5em 1.5em;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*navigation===============================*/
nav{
    height: 70px;
    width: 100%;
    z-index: 1;
    padding: 0 10%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 40px 1px black;
    backdrop-filter: blur(5px);
}

.logo{
    justify-self: flex-start;
    height: 40px;
}
nav ul{
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
}
ul img{
    max-height: 25px;
}

/*home================*/
.contents{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 60% 1fr;
    gap: 5%;
}
.intro{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    align-content: end;
}
.intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + 4vw);
    color: var(--light);
    font-weight: 600;
    text-shadow: 5px 2px 0 var(--red);
}
.intro p{
    font-size: calc(.5rem + 1vw);
    color: var(--red);
    font-weight: 400;

}

.picture{
    max-height: 500px;
    width: 80%;
    object-fit: cover;
    grid-row: span 2;
    border-radius: 200px 100px 90px 150px;
    align-self: center;
    
}

.icon-container{
    display: flex;
    justify-content: end;
    gap: 5%;

}
.icon{
    height: 30px;
}

/*about me======================*/
#about .contents{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 10% 1fr 10%;
    font-weight: 400;
    gap: 2%;

}
#about h1{
    grid-column: span 2;
    text-align: left;
    top: 20px
    
}

.text{
    top:35px;
    text-align: right;
    order:-1;    
    grid-column: span 4;
}

#about h2:first-of-type{
    grid-column: span 3;
    text-align: right;
    padding-right: 5%;
    border-right: 1px solid var(--red);
}
#about h2:nth-of-type(2){
    grid-column: span 3;
}
.language-logo{
    grid-column: span 3;
    display: flex;
    padding-right: 5%;
    border-right: 1px solid var(--red);
}
.language-logo svg{
    max-height: 8em;
}
.education{
    grid-column: span 3;
    text-align: left;
}
.education li{
    margin-top: 10px;
}
.buttons{
    grid-column: span 6;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 3%;
}

/*actions====================================*/
button:hover{
    box-shadow: 0 0 2px 1px var(--red);
    background-color: var(--red);
    color: var(--light);
    transition: all 0.5s;
}
svg.icon:hover{
    filter: drop-shadow(1px 1px 2px var(--red));
}





/*smaller screen======================================*/
@media (max-width:700px){
    *{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .container{
        margin: 0 auto;
        padding-top: 10vh;
    }
    
    .contents{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 2em;
        height: unset;
        min-height: 100%;
    }
    h1{
        font-size: 3rem;
        text-align: center;
    }
    #home{
        min-height: 100vh;
        padding-top: 20vh;
    }
    .intro h1{
    font-size: calc(1rem + 5.5vw);
    }
    .intro{
        align-items: center;
    }
    
    .intro p{
        font-size: 4vw;
    }
    .picture{
        order: -1;
        min-width: 300px;
        max-width: 400px;
        width: 50%;
        max-height: 40vh;
        object-fit: cover;
        object-position: 10% 10%;
    }
    .icon-container{
        justify-items: center;
        justify-content: center;
    }

    /*about me==================*/
    #about .contents{
       padding-bottom: 1em;
    }
    #about h1{
        top: 0;
        text-align: center;
    }
    #about .text{
        order: 0;
        top: 0;
        
       text-align: center;
    }
    #about h2{
        text-shadow: 3px 3px 2px var(--gray);
        text-align: center;
        padding-top: 2em;
    }
    #about h2:first-of-type, .language-logo{
        border: none;
        padding: 0;
        text-align: center;
    }
    #about h2:nth-of-type(2), .education, .buttons{
        order: 1;
    }
    .buttons{
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }
}
