@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --dark:#03191E;
    --light: #F7F7FF;
    --red: #E6113B;
    --gray: #7D8491;
}
*{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: var(--light);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    position: relative;
}

html{
    background-color: var(--dark);
    width: 100vw;
    overflow-x: hidden;
}

.container{
    border: 1px solid purple;
    min-height: 100vh;
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
}

h1{
    font-size: 4rem;
    color: var(--red);
    font-weight: 400;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
button{
    background-color: var(--dark);
    border: 1px solid var(--red);
    color: var(--light);
    height: 30px;
    min-width: 7em;
    padding: .5em 1.5em;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*navigation===============================*/
nav{
    height: 70px;
    width: 100%;
    z-index: 1;
    padding: 0 10%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 40px 1px black;
    backdrop-filter: blur(5px);
}

.logo{
    justify-self: flex-start;
    height: 40px;
}
nav ul{
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
}

/*home================*/
.contents{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 60% 1fr;
    gap: 5%;
}
.intro{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    align-content: end;
}
.intro h1{
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + 4vw);
    color: var(--light);
    font-weight: 600;
}
.intro p{
    font-size: calc(.5rem + 1vw);
    color: var(--red);
    font-weight: 400;

}

.picture{
    max-height: 500px;
    grid-row: span 2;
    border-radius: 200px 100px 90px 150px;
    align-self: center;
}

.icon-container{
    display: flex;
    justify-content: end;
    gap: 5%;

}
.icon{
    height: 30px;
}

/*about me======================*/
#about.contents{
    border: 1px solid greenyellow;
    grid-template-columns: 1fr 80% ;
    grid-template-rows: 80% 1fr;
    gap: 5%;
    font-weight: 400;

}


.language-logo{
    grid-row: span 2;
    display: flex;
}
.language-logo svg{
    max-height: 8em;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 5%;
}

/*actions====================================*/
button:hover{
    box-shadow: 0 0 2px 1px var(--red);
}
svg.icon:hover{
    filter: drop-shadow(1px 1px 2px var(--red));
}





/*smaller screen======================================*/
@media (max-width:700px){
    
    .intro{
        align-items: center;
    }
    h1{
        font-size: 10vh;
        text-align: center;
    }
    .intro p{
        font-size: 4vw;
    }
    .picture{
        order: -1;
        min-width: 300px;
        max-width: 400px;
        width: 50%;
        max-height: 40vh;
        object-fit: cover;
        object-position: 10% 10%;
    }
    .icon-container{
        padding-top: -5vh;
    }
}

@media (max-width:500px){

}